SET FOREIGN_KEY_CHECKS = 0; DROP TABLE IF EXISTS agent_commissions, agent_prices, agent_profile_pricing, agent_settings, agent_transactions, agent_vouchers, billing_customers, billing_invoices, billing_logs, billing_payments, billing_portal_otps, billing_profiles, billing_settings, digiflazz_transactions, payment_gateway_config, payment_methods, public_sales, site_pages, voucher_settings; SET FOREIGN_KEY_CHECKS = 1; ALTER TABLE agents MODIFY id INT UNSIGNED AUTO_INCREMENT;
